{% extends "base.html"%}
{% block title %}archives{% endblock %}
{% block content %}
<h1>archive index</h1>
<table>
	{% for item in archive_list %}
	<tr>
		<th>
		<a href="{{ url_for('archive_index') }}/{{ item['small-title'] }}">{{ item['title'] }}</a>
		</th>
		<th>
		TODO:DELETE
		</th>
	</tr>
	{% endfor %}
	{% if not archive_list.count() %}
	<b>Sorry there's no archive in the given collection</b>
	{% endif %}
</table>
<br>
<h1>hot tags</h1>
{% for item in tag_list %}
<a href="{{ url_for('archive_index',tag=item['tag']) }}">{{ item['tag'] }}</a>
<font>[debug num={{ item['count'] }}] | </font>
{% endfor %}
{% endblock %}
