{% extends "two-column.html" %}
{% block title %}{{ archive['title'] }}{% endblock %}
{% block admintool %}
<th class="admin-tool-cell"><a href="{{ url_for('edit_archive', st=archive['small-title']) }}" class="fui-eye show-tooltip" data-toggle="tooltip" title="EDIT this  archive"></a></th>
<th class="admin-tool-cell"><a href="{{ url_for('remove_archive', st=archive['small-title']) }}" class="fui-cross show-tooltip" data-toggle="tooltip" title="REMOVE this  archive"></a></th>
{% endblock %}
{% block container %}
<div class="tile archive-view opacity">
<font class="lead archive-view-title">{{ archive['title'] }}</font>
<p class="archive-view-time">POST AT {{ archive['post-time'][0:10] }}</p>
<br>
<small>TAG:{% for tag in archive['tag'] %}  {{ tag }}{% endfor %}</small>
<hr>
<p>{{ archive['content'] }}</p>
<br>
<b>--EOF--</b>
</div>
{% endblock %}
