{% extends "two-column.html" %}
{% block title %}archives{% endblock %}
{% block container %}
<table>
  {% for item in archive_list %}
  <div>
    <div class="tile opacity archive-view">
      <a href="{{ url_for('archive_index') }}/{{ item['small-title'] }}"><font class="lead">{{ item['title'] }}</font></a>
      <small class="archive-view-time">POST at {{ item['post-time'][0:10] }}</small>
      <p >{% if item['content'].__len__()>100 %}{{ item['content'][0:100] }}{% else %}{{ item['content'] }}{% endif %}</p>
    </div>
  </div>
  {% if not loop.last %}
  <br>
  {% endif %}
  {% endfor %}
  {% if not archive_list.count() %}
  <b>Sorry there's no archive in the given collection</b>
  {% endif %}
</table>
{% endblock %}
