<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Loading Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="{{ url_for('static', filename='Flat-UI/css/flat-ui.css') }}" rel="stylesheet">
    <!-- Loading Theme -->
    <link href="{{ url_for('static', filename='simple/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" id="body-all">
      <div class="row" id="head-all">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10 ">
	  <br>
	  <div>
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
		  <span class="sr-only">Toggle navigation</span>
		</button>
		<a class="navbar-brand" href="{{ url_for('index') }}">MekBlog</a>
	      </div>
	      <div class="collapse navbar-collapse" id="navbar-collapse-01">
		<ul class="nav navbar-nav">           
		  <li><a href="{{ url_for('archive_index') }}">Archives</a></li>
		  <li><a href="{{ url_for('index') }}">About Me</a></li>
		</ul>           
		<form class="navbar-form navbar-right" action="#" role="search">
		  <div class="form-group">
		    <div class="input-group">
		      <input class="form-control" id="navbarInput-01" type="search" placeholder="Search not implemented">
		      <span class="input-group-btn">
			<button type="submit" class="btn"><span class="fui-search"></span></button>
		      </span>            
		    </div>
		  </div>               
		</form>
	      </div><!-- /.navbar-collapse -->
	    </nav><!-- /navbar -->
	  </div>
        </div>
        <div class="col-xs-1">
        </div>
      </div>
      <div class="row" id="content-all">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      {% block content %}
      <p>Content</p>
      {% endblock %}
    </div>
    <div class="col-xs-1">
    </div>
      </div>
      <div class="row" id="foot-all">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10" style="text-align:center">
		  <hr>
      {% block footer %}
      <p>Power by MekBlog</p>
      {% endblock %}
    </div>
    <div class="col-xs-1">
    </div>
      </div>
    </div>
  </body>
</html>

