body { 
	background-image:url('hdbk.jpg');
	background-attachment:fixed;
	background-size:100% 100%;
}

#head-all {
	;
}

#content-all {
	padding: 5px 0px;
}

.after-arrow:after {
  content: '';
  border-style: solid;
  border-width: 12px 12px 12px 12px;
  border-color: transparent #edeff1 transparent transparent;
  height: 0;
  position: absolute;
  right: -24px;
  top: 25px;
  width: 0;
  -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.opacity {
	opacity:0.85;
}

.archive-view {
	text-align:left;
}

.archive-post {
	text-align:left;
}

.archive-view-title {
	font-size:40px;
}

.archive-view-time {
	float:right;
}

.admin-tool {
	;
}

.admin-tool-cell {
	padding:0px 10px 0px 0px;
}

